/* ---- reset ---- */
*, *:before, *:after {
    box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- typography ---- */

@font-face {
    font-family: 'pixelmixregular';
    src: url('../assets/fonts/pixelmix-webfont.woff2') format('woff2'),
    url('../assets/fonts/pixelmix-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    
@font-face {
    font-family: 'pixelscreennormal';
    src: url('../assets/fonts/pixelscreen_normal-webfont.woff2') format('woff2'),
    url('../assets/fonts/pixelscreen_normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'joystixmonospace';
    src: url('../assets/fonts/joystix_monospace-webfont.woff2') format('woff2'),
    url('../assets/fonts/joystix_monospace-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #111;
    font-family: 'pixelmixregular', 'joystixmonospace', 'pixelscreennormal', Helvetica, Arial, sans-serif;
    font-size: 16px;
    /* line-height: 147%; */
}

/* ---- layout transition screens ---- */

html, body {
    height: 100%;
    background: url('../assets/img/bg-wallpaper.png');
    background-size: cover;
}

main.transition-screen {
    width: 65%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.transition-screen h1 {
    font-size: 48px;
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 5px 5px #1C8B89;
}

#register-name {
    margin-top: 50px;
}

#register-name form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
}

#register-name form label {
    font-size: 20px;
    padding: 20px 0;
    margin-bottom: 10px;
}

#register-name form input {
    font-family: 'pixelmixregular', 'joystixmonospace', 'pixelscreennormal', Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    text-transform: uppercase;
}

button {
    font-family:'pixelmixregular', 'joystixmonospace', 'pixelscreennormal', Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 30px;
    padding: 20px 50px;
    color: white;
    background-color: #EB3559;
}

button:hover {
    cursor: pointer;
    background-color: #ff2e58;
}

main.transition-screen p {
    margin-bottom: 40px;
}

/* ---- game screen layout ---- */

main.container {
    height: 100%;
    display: flex;
    justify-content: center;
    background: url('../assets/img/game-wallpaper.png');
    background-repeat: repeat;
    background-size: cover;
    align-items: center;
}

main.container .instructions {
    margin-top: -80%;
    margin-left: -40%;
    font-size: 1rem;
}

main.container .instructions p {
    margin: 10px 0;
}

main.container .timer {
    margin-top: 20px;
    margin-left: -40%;
    font-size: 1rem;
}

.canvas-container {
    width: 600px;
    height: 600px;
}

.canvas-container canvas {
    border: 10px solid #292a2a;
    border-radius: 25px;
    -webkit-box-shadow: 20px 20px 41px 0px rgba(41,42,42,0.4);
-moz-box-shadow: 20px 20px 41px 0px rgba(41,42,42,0.4);
box-shadow: 20px 20px 41px 0px rgba(41,42,42,0.4);
}

/* ---- win screen layout ---- */

#scores {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scores p {
    margin-bottom: 15px;
}

#scoretable {
    width: 60%;
    border: 2px dashed black;
    padding: 10px
}

#scoretable thead {
    border: 2px dashed black;
}

#scoretable th {
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#scoretable td {
    padding: 10px;
    text-align: center;
}

div#quote {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    width: 100%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

p#author, p#answer {
    border-radius: 5px;
    margin-bottom: 0px;
}

p#answer { 
    width: 60%;
    padding: 15px;
    background-color: #f6dda6;
    line-height: 24px;
    text-align: center;
    font-style: italic;
}

p#author { 
    width: 60%;
    font-weight: bold;
    text-align: right;
    margin-top: -30px;
    text-shadow: 2px 2px #E9AB2A;
}

/* ---- win screen layout ---- */

.blood p {
    margin-top: -10px;
    text-align: center;
    line-height: 24px;
}

.blood button {
    margin-top: 0;
}

/*
.container {
    margin: 0 20px;
}

@media (min-width: 768px) {
    .container {
        max-width: 728px;
        margin: 0 auto;
    }
}
*/